.background {
    -fx-background-color: #181818;
}

.button {
    -fx-font-size: 13pt;
    -fx-font-family: 'Montserrat';
    -fx-fill: #F5F7FA;
    -fx-background-color: #2e2e2e;
    -fx-border-radius: 4px;
}

.button:hover {
    /*-fx-font-size: 13pt;*/
    -fx-font-family: 'Montserrat';
    -fx-fill: #F5F7FA;
    -fx-background-color: #474747;
    -fx-border-radius: 4px;
}

.button:focused {
    /*-fx-font-size: 13pt;*/
    -fx-font-family: 'Montserrat';
    -fx-text-fill: #F5F7FA;
    -fx-background-color: #474747;
    -fx-border-radius: 4px;
}

.average-button {
}

.color_button {
    -fx-background-color: #bd92fc;
    -fx-text-fill: #181818;
}

.color_button:hover {
    -fx-background-color: #bd92fc;
    -fx-text-fill: #181818;
}

.label {
    -fx-font-size: 13pt;
    -fx-font-family: 'Montserrat';
    -fx-text-fill: #FFFFFF;
}

.text-area {
    -fx-fill: #FFFFFF;
    -fx-font-family: 'Montserrat';
}

.text {
    -fx-fill: #FFFFFF;
    -fx-font-family: 'Montserrat';
}

.sum_label {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Montserrat';
    -fx-font-size: 30pt;
}

.bold_label {
    -fx-font-size: 13pt;
    -fx-font-family: 'Montserrat';
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.title_label {
    -fx-font-size: 30pt;
    -fx-text-fill: #FFFFFF;
}

.bold_button {
    -fx-font-size: 14pt;
    -fx-font-family: 'Montserrat';
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-border-radius: 4px;
    -fx-background-color: #3D3D3D;
}

.bold_button:hover {
    -fx-font-size: 14pt;
    -fx-font-family: 'Montserrat';
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-border-radius: 4px;
    -fx-background-color: #474747;
}

.question_button{
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 34pt;
    -fx-font-weight: bold;
    -fx-border-radius: 4px;
    -fx-background-color: #3D3D3D;
}

.question_button:hover{
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 34pt;
    -fx-font-weight: bold;
    -fx-border-radius: 4px;
    -fx-background-color: #474747;
}

.list-cell {
    -fx-control-inner-background: #212121;
    -fx-text-fill: #FFFFFF;
    -fx-cell-size: 40;
}

.list-view {
    -fx-control-inner-background: #212121;
    -fx-text-fill: #FFFFFF;
}

.black-text {
    -fx-fill: black;
}

/* Options */
.table-view .column-header {
    -fx-background-color: #212121;
    -fx-text-fill: #FFFFFF;
}

.choice-box {
    -fx-background-color: #474747;
    -fx-mark-color: #bd92fc;
}
.choice-box > .label { -fx-text-fill: #FFFFFF; }
.choice-box .context-menu { -fx-background-color: #474747; }
.choice-box .menu-item:focused { -fx-background-color: #bd92fc; }
.choice-box .menu-item > .label { -fx-text-fill: white; }
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }
/* Transaction: */
.transaction-check-box > .box {
    -fx-border-width: 4px;
    -fx-background-color: #f4f4f4;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 2);}

.transaction-check-box > .box > .mark {
    -fx-padding: 4.16em 4.16em 5em 5em;
}

.notification-bar > .pane {
    -fx-background-color: #212121 !important;
}