/*.settings_button {
  -fx-border-style: solid , solid  , solid  , solid;
  -fx-border-color: #bebebe #bebebe #bebebe #bebebe;
  -fx-border-width: 1;
  -fx-text-inner-color: black;
  -fx-font-size: 11pt;
  -fx-font-family: 'Montserrat';
}

.settings_button:focused {
  -fx-border-style: solid , solid  , solid  , solid;
  -fx-border-color: #bebebe #bebebe #bebebe #bebebe;
  -fx-border-width: 1;
  -fx-background-color: #e1ecf4;
  -fx-text-fill: black;
  -fx-font-size: 11pt;
  -fx-font-family: 'Montserrat';
}*/

/*.label {
  -fx-font-size: 11pt;
}*/

/*.button {
  -fx-font-size: 11pt;
}*/

/*.help_button {
  -fx-font-size: 35pt;
  -fx-font-weight: bold;
}*/

/*.bold_label {
  -fx-font-size: 13pt;
  -fx-font-family: 'Montserrat';
  -fx-text-fill: #1c1c1c;
  -fx-font-weight: bold;
}*/