.button {
  -fx-border-style: solid , solid  , solid  , solid;
  -fx-border-color: #bebebe #bebebe #bebebe #bebebe;
  -fx-border-width: 1;
  -fx-text-inner-color: black;
}

.button:focused  {
  -fx-border-style: solid , solid  , solid  , solid;
  -fx-border-color: #bebebe #bebebe #bebebe #bebebe;
  -fx-border-width: 1;
  -fx-background-color: #e1ecf4;
  -fx-text-fill: black;
}

.delete_button {
  -fx-border-style: solid , solid  , solid  , solid;
  -fx-border-color: #bebebe #bebebe #bebebe #bebebe;
  -fx-border-width: 1;
  -fx-background-color: #e8594e;
  -fx-text-inner-color: black;
}

.delete_button:focused  {
  -fx-border-style: solid , solid  , solid  , solid;
  -fx-border-color: #bebebe #bebebe #bebebe #bebebe;
  -fx-border-width: 1;
  -fx-background-color: #ad3931;
  -fx-text-fill: black;
}
