.check-box > .box {
    -fx-border-width: 4px;
    -fx-background-color: #f4f4f4;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 2);}

.check-box > .box > .mark {
    -fx-padding: 4.16em 4.16em 5em 5em;
}

.button:disabled {
    -fx-border-radius: 5px;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-color: blue;
}